<footer class="footer-home animadoFijo">
    <div class="columna-footer">
        <h2 class="titulo-footer">EL CADILLAL</h2>
        <p>Copyright 2021 - Todos los derechos reservados</p>
        <p>Desarrollado por JF</p>

    </div>
    <div class="columna-footer">
        <nav class="nav-footer">
            <ul class="listado-enlaces-footer">
                <li><a href="/">Inicio</a></li>
                <li><a href="/#acerca-de">Acerca del cadillal</a></li>
                <li><a href="/#informacion">Informacion útil</a></li>
                <li><a href="/#noticias">Noticias</a></li>
                <li><a href="/#contacto">Contacto</a></li>
            </ul>
        </nav>
    </div>
</footer>

<script src="../../../js/menu-hamburguesa.js"></script>
