
    <header class="header-gral animadoFijo" >
        <!-- <div class="contenedor-logo">
            <h1 class="logo">VIVÍ EL CADILLAL</h1>
        </div> -->
        <nav class="nav-header">
            <ul class="listado-header-gral">
                <li><a href="/">Inicio</a></li>
                <li><a href="/#acerca-de">Acerca del cadillal</a></li>
                <li><a href="/#informacion">Informacion útil</a></li>
                <li><a href="/#noticias">Noticias</a></li>
                <li><a href="/#contacto">Contacto</a></li>
            </ul>
        </nav>
        <button class ="menu-hamburguesa">
             <i class="fas fa-bars "></i>
        </button >
    </header>