<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../css/main/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadillal</title>
</head>
<body>
    <%- include ("../partials/header.ejs") %>
    <main class="fondo-header">
        <div class="contenedor-titulos-home">
            <h1 class="animadoHeaderIzquierda">EL CADILLAL</h1>
            <h2 class="animadoHeaderDerecha">¡Toda la información que necesitas!</h2>
        </div>
    </main>
    <section class="acerca-de " id="acerca-de">
        <div class="acerca-de-titulo">
            <h2 class="acerca-del-cadillal"> ACERCA DEL CADILLAL</h2>
        </div>
        <div class="acerca-de-info">
            <p class="intro-informacion animado">
                El Cadillal es una localidad y comuna argentina ubicada en el Departamento Tafí Viejo de la Provincia de Tucumán. 
                Es una villa turística ubicada sobre el Dique Celestino Gelsi, que permite el baño en sus playas y deportes acuáticos,
                 además de un paisaje rodeado de selva y varios cursos de agua.
            </p>
            <iframe class="mapa-home animado" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14266.195111583203!2d-65.20882385054492!3d-26.63090638792268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942265820045294b%3A0x79c59075508bde7e!2sEL%20CADILLAL!5e0!3m2!1ses!2sar!4v1623348089410!5m2!1ses!2sar"    loading="lazy"></iframe>
        </div>
           
    </section>
    
    <section class="info-util" id="informacion">
        <div class="contenedor-titulo-info-util">
            <h2 class="section-titulo animado" style="padding: 0;" >INFORMACIÓN ÚTIL</h2>
        </div>
        
        <div class="contenedor-informacion">
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/comollegar">¿Cómo llegar?</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/actividades">¿Qué actividades realizar?</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/hospedaje">Hospedaje</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/bares">Bares</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/heladeria">Heladerias</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/compras">Compras</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/turismo-aventura">Turismo Aventura</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/camping">Camping</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/casas-comida">Casas de comida</a>
            </article>
            <!-- <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/trabajadores">Trabajadores particulares</a>
            </article> -->
        </div>
       
        
    </section>

    <section class="section-noticias-home" id="noticias">
       <div class="contenedor-titulo-noticias">
               <h2 class="section-titulo animado">NOTICIAS</h2>
               <a href="/noticias">Ver más</a>
       </div>
        <div class="contenedor-tarjetas-noticias-home">
                 <article class="tarjeta-noticia animado">
                     <div class="contenedor-img-tarjeta-noticias">
                        <img class="img-noticia" src="../../../images/ecocanje.jpg" alt="Imagen">
                     </div>
                     <div class="info-tarjeta-noticia">
                        <h3 class="titulo-noticia">Título noticia</h3>
                        <p class="desarrollo-noticia">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                             Labore, odit. Exercitationem ipsam molestiae dolorum unde magnam distinctio
                              est nulla doloremque? Nisi cupidem consectetur,
                               eaque praesentium qui fugit atque.
                        </p>
                        <p class="fecha-noticia">13/01/1994</p>
                     </div>
                 </article>
                 <article class="tarjeta-noticia animado">
                    <div class="contenedor-img-tarjeta-noticias">
                       <img class="img-noticia" src="../../../images/radio.jpg" alt="Imagen">
                    </div>
                    <div class="info-tarjeta-noticia">
                       <h3 class="titulo-noticia">Título noticia</h3>
                       <p class="desarrollo-noticia">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore, odit. Exercitationem ipsam molestiae dolorum unde magnam distinctio
                             est nulla doloremque? Nisi cupiditate ctetur,
                              eaque praesentium qui fugit atque.
                       </p>
                       <p class="fecha-noticia">13/01/1994</p>
                    </div>
                </article>
                <article class="tarjeta-noticia animado">
                    <div class="contenedor-img-tarjeta-noticias">
                       <img class="img-noticia" src="../../../images/regata.jpg" alt="Imagen">
                    </div>
                    <div class="info-tarjeta-noticia">
                       <h3 class="titulo-noticia">Título noticia</h3>
                       <p class="desarrollo-noticia">
                           Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Labore, odit. Exercitationem ipsamnctio
                             est nulla doloremque? Nisi cupiditate accusantium exercitationem consectetur,
                              eaque praesentium qui fugit atque.
                       </p>
                       <p class="fecha-noticia">13/01/1994</p>
                    </div>
                </article>

        </div>

    </section>
    <section class="section-contacto" id="contacto">
        <div class="contenedor-titulo-contacto">
            <h2 class="titulo-contacto">CONTACTO</h2>
        </div>
        <div class="contenedor-formulario-contacto">
            <div class="contenedor-titulo-formulario-contacto">
                <h2 class="titulo-formulario-contacto">DEJANOS TU MENSAJE</h2>
            </div>
            <div class="contenedor-form-formulario-contacto">
                <form action="/contacto" method="POST">
                    <div class="nombre-telefono">
                        <div class="nombre">
                           <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="telefono">
                            <input type="number" name="cel" id="cel" placeholder="Teléfono" required>
                        </div>
                    </div>
                    <div class="mail">
                        <input type="email" name="mail" id="mail" placeholder="Direccion de correo electrónico" required>
                    </div>
                    <div class="mensaje">
                        <textarea name="mensaje" id="mensaje" cols="25" rows="7" placeholder="Mensaje" required></textarea>
                    </div>
                    <div class="boton-enviar">
                        <input type="submit" name="" id="">
                    </div>
                </form>
            </div>
        </div>

    </section>
    
   
    
    <%- include ("../partials/footer.ejs") %>

    <script src="../../../js/main/home.js"></script>
    
</body>
</html>