<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../css/main/styles.css">
    <link rel="stylesheet" href="../../../css/informacion/actividades.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadillal</title>
</head>
<body>

    
    <%- include ("../partials/header.ejs") %>

   <section class="section-actividades">
       <h2 class="section-titulo animadoFijo" style="color: #F4B41A;">Actividades que podés realizar en El Cadillal</h2>
       <div class="contenedor-actividades">
           <article class="actividad">
               <div class="contenedor-imagen">
                   <img src="https://d35hsl9am8s2ta.cloudfront.net/public/images/2020/11/16067710990-El-Cadillal-773x458.jpg" alt="">
               </div>
               <div class="contenedor-info-actividad">
                   <h2>Aerosillas</h2>
                   <p>No podes dejar pasar la oportunidad de subir a lo alto del cerro medici por medio de las aerosillas
                       y disfrutar del hermoso paisaje que brinda este recorrido.
                   </p>
               </div>
           </article>

           <article class="actividad">
            <div class="contenedor-imagen">
                <img src="https://www.tucumanalas7.com.ar/u/fotografias/m/2014/7/14/f1280x720-27573_159248_5050.jpg" alt="">
            </div>
            <div class="contenedor-info-actividad">
                <h2>Dique Celestino Gelsi</h2>
                <p>Podes venir a disfrutar de un hermoso paseo, con el paisaje del dique, en la zona de puerto argentino 
                    podras encontrar el museo arqueologico, el anfiteatro, bares con hermsos paisajes, juegos infantiles, 
                    y muchas cosas mas. Tambien podes realizar un recorrido bordeando el dique y encontraras mas bares con lindos paisaje y 
                    zona de playas.
                </p>
            </div>
        </article>
        <article class="actividad">
            <div class="contenedor-imagen">
                <img src="https://www.eldiario24.com/d24ar/fotos/uploads/editorial/2011/01/23/imagenes/84461_174986_cadillal_campamneto.JPG" alt="">
            </div>
            <div class="contenedor-info-actividad">
                <h2>Río Loro</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem soluta corporis ipsum ipsam porro, quo eum harum reprehenderit laborum repudiandae quis esse impedit hic, labore tempore quia? Ipsum, adipisci mollitia?</p>
            </div>
        </article>
        <article class="actividad">
            <div class="contenedor-imagen">
                <img src="https://media-cdn.tripadvisor.com/media/photo-m/1280/1b/25/2a/8e/reserva-aguas-chiquitas.jpg" alt="">
            </div>
            <div class="contenedor-info-actividad">
                <h2>Cascada de Aguas Chiquitas</h2>
                <p>Podras visitar la cascada de aguas chiquitas, es una aventura que dura alrededor de 4horas de caminata(ida y vuelta).
                    Recomendamos ir con guias ya que el recorrido es de dificultad media-alta y es importante tener en cuenta varios factores
                    a la hora de realizar esta aventura.
                </p>
            </div>
        </article>
        <article class="actividad">
            <div class="contenedor-imagen">
                <img src="https://www.tucumanturismo.gob.ar/carga/image/nota%20cadillal%20imperdible%202%20edit.jpg" alt="">
            </div>
            <div class="contenedor-info-actividad">
                <h2>Turismo Aventura</h2>
                <p>Podras disfrutar de actividades como paseos en kayak, caminatas, canyoning, rappel, paseos en barco, etc.
                    Realizadas por empresas de turismo aventura.
                </p>
            </div>
        </article>

       </div>

   </section>
    

    
    <%- include ("../partials/footer.ejs") %>

    <script src="../../../js/main/home.js"></script>
</body>
</html>