<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../css/main/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadillal</title>
</head>
<body>

    
    <%- include ("../partials/header.ejs") %>

    
    <section>
        <h2 class="section-titulo animadoFijo">Informacion General</h2>
        <p class="intro-informacion animadoFijo">
            El Cadillal es una localidad y comuna argentina ubicada en el Departamento Tafí Viejo de la Provincia de Tucumán. 
            Es una villa turística ubicada sobre el Dique Celestino Gelsi, que permite el baño en sus playas y deportes acuáticos,
             además de un paisaje rodeado de selva y varios cursos de agua.
        </p>
        <iframe class="mapa-home animadoFijo" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14266.195111583203!2d-65.20882385054492!3d-26.63090638792268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x942265820045294b%3A0x79c59075508bde7e!2sEL%20CADILLAL!5e0!3m2!1ses!2sar!4v1623348089410!5m2!1ses!2sar"    loading="lazy"></iframe>
        <div class="contenedor-informacion">
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/comollegar">¿Cómo llegar?</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/actividades">¿Qué actividades realizar?</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/hospedaje">Hospedaje</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/bares">Bares</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/compras">Compras</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/turismo-aventura">Turismo Aventura</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/camping">Camping</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/heladeria">Heladería</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/casas-comida">Casas de comida</a>
            </article>
            <article class="tarjeta-informacion animado">
                <a class="informacion-titulo" href="/informacion/trabajadores">Trabajadores particulares</a>
            </article>

        </div>
    </section>
   

    
    <%- include ("../partials/footer.ejs") %>

    <script src="../../../js/main/home.js"></script>
</body>
</html>