<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../../css/main/styles.css">
    <link rel="stylesheet" href="../../../css/informacion/trabajadores.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadillal</title>
</head>
<body>

    
    <%- include ("../partials/header.ejs") %>

    <h2 class="section-titulo animadoFijo"> Trabajadores particulares </h2>
   <nav class="nav-trabajadores-div">
       <ul class="nav-trabajadores">
           <li><a href="/informacion/trabajadores/#piletas">Lipiador de piletas</a></li>
           <li><a href="/informacion/trabajadores/#cesped">Cortador de cesped</a></li>
           <li><a href="/informacion/trabajadores/#carpintero">Carpintero</a></li>
           <li><a href="/informacion/trabajadores/#electricista">Electricista</a></li>
           <li><a href="/informacion/trabajadores/#alba単il">Aba単il</a></li>
           <li><a href="/informacion/trabajadores/#plomero">Plomero</a></li>
       </ul>
   </nav>

    <h2 class="section-titulo animadoFijo" id="pileta"> Limpador de piletas </h2>

    <section class="section-trabajador">
        

        
       
    </section>
    
    <h2 class="section-titulo animadoFijo" id="cesped"> Cortador de cesped </h2>

    <section class="section-trabajador">
        

        
       
    </section>
    
    <h2 class="section-titulo animadoFijo" id="carpintero"> Carpintero </h2>

    <section class="section-trabajador">
        

        
       
    </section>
    
    <h2 class="section-titulo animadoFijo" id="electricista"> Electricista </h2>

    <section class="section-trabajador">
        

        
       
    </section>
    
    <h2 class="section-titulo animadoFijo" id="alba単il"> Alba単il </h2>

    <section class="section-trabajador">
        

        
       
    </section>
    
    <h2 class="section-titulo animadoFijo" id="plomero"> Plomero </h2>

    <section class="section-trabajador">
        

        
       
    </section>






    

    
    <%- include ("../partials/footer.ejs") %>

    <script src="../../../js/main/home.js"></script>
</body>
</html>